<html>
    <head>
        <title>Maria's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">El blog de Maria</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>This workshop is amazing!</p>
            <p>published: 20.07.2015, 17:05</p>
        </div>

        <div>
            <h3><a href="">My second post</a></h3>
            <p>Nice webpage!</p>
            <p>published: 20.07.2015, 17:08</p>
        </div>
    </body>
</html>
